# Core Flask
flask
flask-cors
flask-jwt-extended
flask-bcrypt
flask-limiter
flask-apscheduler
flask-sqlalchemy
flask-pymongo

# Documentation
flasgger

# Database
pymongo
dnspython

# Utilities
python-dotenv
requests
python-jose[cryptography]==3.3.0

# AI Integration
openai
anthropic
google-generativeai
gunicorn

# Testing (CI/CD)
pytest
flake8
pytest-flask
